
/* Add your own custom styles here */

#TabsToolbar,
#toolbar-menubar,
#nav-bar,
#PersonalToolbar,
#commonDialog,
#urlbar #urlbar-input-container,
:root:-moz-window-inactive #urlbar #urlbar-input-container,
:root:-moz-window-inactive #TabsToolbar,
:root:-moz-window-inactive #toolbar-menubar,
:root:-moz-window-inactive #nav-bar,
:root:-moz-window-inactive #PersonalToolbar,
.tab-content {
  background-color: var(--lwt-accent-color) !important;
}

.tab-content {
  filter: brightness(150%);
  border-radius: 8px;
}

.tabbrowser-tab[selected] > .tab-stack > .tab-content {
  filter: brightness(200%);
}


#urlbar #urlbar-input-container {
  filter: brightness(150%);
  border-radius: 8px;
}

:root:-moz-window-inactive #TabsToolbar,
:root:-moz-window-inactive #toolbar-menubar,
:root:-moz-window-inactive #nav-bar,
:root:-moz-window-inactive #PersonalToolbar {
  filter: brightness(80%);
}

.tab-icon-image {
  filter: brightness(67%);
}
